<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title> <!--  #{titleController.pageTitle} --></title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    <!-- #{titleController.pageTitle}  --> - Customer Contact
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                                <h:outputLabel id="contactId" value="Contact Id"  />
                        </td>
                        <td>
                                <h:outputLabel id="firstName" value="First Name"  />
                        </td>
                        <td>
                                <h:outputLabel id="secondName" value="Second Name"  />
                        </td>
                        <td>
                                <h:outputLabel id="email" value="E-mail"  />
                        </td>
                        <td>
                                <h:outputLabel id="phoneNumber" value="Phone Number"  />
                        </td>
                        <td>
                                <h:outputLabel id="address" value="Address"  />
                        </td>
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{contactDetailController.contacts}"  var="contacts" varStatus="status">
                     
                     <tr>
                            <td>
                                <h:outputText value="#{contactDetailController.contacts.get(status.index).contactId}" id="contactID" />

                            </td>

                            <td>
                                <h:outputText id="outFirstName" value="#{contactDetailController.contacts.get(status.index).name.firstName}"  />
                            </td>
                            <td>
                                <h:outputText id="outLastName" value="#{contactDetailController.contacts.get(status.index).name.lastName}"  />
                            </td>
                            <td>
                                <h:outputText id="outEMail" value="#{contactDetailController.contacts.get(status.index).email}"/>
                            </td>
                            
                            <td>
                                <h:outputText id="outPhoneNumber" value="#{contactDetailController.contacts.get(status.index).phoneNumber}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:outputText id="outAddress" value="#{contactDetailController.contacts.get(status.index).address}"></h:outputText>
                            </td>
                            
                            <td>
                            <h:link value="Edit | " outcome="/faces/Contact/editContact.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="contactID" value="#{contactDetailController.contacts.get(status.index).contactId}"/>
                              </h:link>

                              <h:commandLink value="Delete" action="#{contactViewController.removeContact(contactDetailController.contacts.get(status.index).contactId)}" disabled="#{contactDetailController.contacts.get(status.index).contactId == null}">
                              </h:commandLink>
                            
                            </td>
                         </tr>   
                 	</ui:repeat>
                 </table>
                 <div>
                 
                 <h:link id="close" value="Close" outcome="/faces/Customer/viewCustomer.xhtml"
 						          class="btn btn-primary" />
 				 <h:link id="home" value="Home" outcome="/faces/Index/index.xhtml"
						          class="btn btn-primary" />
 				
 				</div>

            </h:form>
        </div>
    </h:body>
</html>