<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				Contact</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>

					<table class="table table-bordered ">

						<tr class="#{!contactName.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="contactName"
									for="contactName" /></td>
							<td><h:inputText id="ContactName"
									value="#{AddContact.contact.contactName}"
									title="ContactName" required="true"
									requiredMessage="Please enter the Contact Name!"
									pt:placeholder=" " /> <br /> <h:message for="contactName"
									class="#{!contactName.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!email.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="email" for="email" /></td>
							<td><h:inputText id="email"
									value="#{AddContact.contact.contactEmail}"
									title="email" required="true"
									requiredMessage="Please enter the email" /> <br /> <h:message
									for="email"
									class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						
						<tr class="#{!mobile.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="mobile" for="mobile" />
							</td>
							<td><h:inputText id="mobile"
									value="#{AddContact.contact.mobile}"
									title="mobile" required="true"
									requiredMessage="Please enter the Contact Phone!" 
									validatorMessage="The phone number must be less than 10 digits."
									converterMessage="Please enter a number" pt:placeholder="">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="9999999999" />
								</h:inputText> <br /> <h:message for="mobile"
									class="#{!mobile.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>


						<tr class="#{!gender.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="gender" for="gender" /></td>
							<td><h:inputText id="gender"
									value="#{AddContact.contact.gender}"
									title="gender" required="true"
									requiredMessage="Please enter the gender name" /> <br /> <h:message
									for="gender"
									class="#{!gender.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!description.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="description" for="description" /></td>
							<td><h:inputText id="description"
									value="#{AddContact.contact.description}"
									title="description" required="true"
									requiredMessage="Please enter the description!" pt:placeholder=" " />
								<br /> <h:message for="description"
									class="#{!description.valid ? 'label label-warning' : 'none'}" /></td>
									</tr>
		

						<tr class="#{!cusId.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="cusId" for="cusId" /></td>
							<td><h:inputText id="cusId"
									value="#{AddContact.cusId}" title="cusId"
									required="true" requiredMessage="Please enter the cusId " />
								<br /> <h:message for="cusId"
									class="#{!cusId.valid ? 'label label-warning' : 'none'}" /></td>
						</tr>
						
					</table>



					<h:commandButton id="submit" value="Submit"
						action="#{AddContact.addContactInfor()}"
						class="btn btn-primary">

					</h:commandButton>

					<h:link id="close" value="Close" outcome="indexContact.xhtml"
						class="btn btn-primary" />

				</h:form>

			</f:view>
		</div>
	</div>

</h:body>
</html>
