<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - Add
				Customer</div>
		</div>
		<div>
			<f:view>
				<h:form>
					<h1>
						<h:outputText value="Create" />
					</h1>

					<table class="table table-bordered ">

						<tr class="#{!address.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="address" for="address" /></td>
							<td><h:inputText id="addresse" value="#{customer.address}"
									title="address" required="true"
									requiredMessage="Please enter the Company address!"
									pt:placeholder=" " /> <br /> <h:message for="address"
									class="#{!address.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr>
							<td>Industry</td>
							<td><h:selectOneListbox value="#{customer.industryType}"
									size="4">
									<f:selectItem itemValue="Bank" itemLabel="Bank" />
									<f:selectItem itemValue="Building" itemLabel="Building" />
									<f:selectItem itemValue="Data Communication"
										itemLabel="Data Communication" />
									<f:selectItem itemValue="Education" itemLabel="Education" />
									<f:selectItem itemValue="Farm" itemLabel="Farm" />
									<f:selectItem itemValue="Health" itemLabel="Health" />
									<f:selectItem itemValue="Mining" itemLabel="Mining" />
									<f:selectItem itemValue="Publishing" itemLabel="Publishing" />

								</h:selectOneListbox></td>
						</tr>

						<tr class="#{!noOfStaff.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="noOfStaff" for="noOfStaff" /></td>
							<td><h:inputText id="noOfStaff"
									value="#{customer.noOfStaff}" title="noOfStaff" required="true"
									requiredMessage="Please enter the number Of Staff!"
									validatorMessage="The office no Of Staff must be less than 1000 digits."
									converterMessage="Please enter a number" pt:placeholder="">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="1000" />
								</h:inputText> <br /> <h:message for="noOfStaff"
									class="#{!noOfStaff.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!businessName.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="businessName"
									for="businessName" /></td>
							<td><h:inputText id="businessName"
									value="#{customer.businessName}" title="businessName"
									required="true"
									requiredMessage="Please enter the Business Name!"
									pt:placeholder=" " /> <br /> <h:message for="businessName"
									class="#{!businessName.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!ceo.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="ceo" for="ceo" /></td>
							<td><h:inputText id="ceo" value="#{customer.ceo}"
									title="ceo" required="true"
									requiredMessage="Please enter the ceo name" pt:placeholder=" " />
								<br /> <h:message for="ceo"
									class="#{!ceo.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!officePhone.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="officePhone" for="officePhone" />
							</td>
							<td><h:inputText id="officePhone"
									value="#{customer.officePhone}" title="officePhone"
									required="true"
									requiredMessage="Please enter the office phone!"
									validatorMessage="The office phone number must be less than 10 digits."
									converterMessage="Please enter a number" pt:placeholder="">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="9999999999" />
								</h:inputText> <br /> <h:message for="officePhone"
									class="#{!officePhone.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!email.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="email" for="email" /></td>
							<td><h:inputText id="email" value="#{customer.email}"
									title="email" required="email"
									requiredMessage="Please enter the customer email"
									validatorMessage="The email should format as abc@gmail.com."
									pt:placeholder="">
									<f:validateRegex
										pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
								</h:inputText> <br /> <h:message for="email"
									class="#{!email.valid ? 'label label-warning' : 'none'}" /></td>
						</tr>

					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addCustomer.addCustomer(customer)}"
						class="btn btn-primary">
					</h:commandButton>
					<h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />

				</h:form>

			</f:view>
		</div>
	</div>

</h:body>
</html>
