<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
	</h:head> 
<body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle} - View Contact
			</div>
		</div>

		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
					<td width="150" valign="top">Id:</td>

					<td valign="bottom"><h:outputLabel id="Id">#{contactController.contact.contactId}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Contact name:</td>

					<td valign="bottom"><h:outputLabel id="ContactName">#{ccontactController.ccontact.contactName}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Contact Phone:</td>

					<td valign="bottom"><h:outputLabel id="Mobile">#{contactController.contact.mobile}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Email:</td>

					<td valign="bottom"><h:outputLabel id="Email">#{contactController.contact.contactEmail}                               
						</h:outputLabel></td>
				</tr>
				<tr>
					<td width="100" valign="top">Position:</td>

					<td valign="bottom"><h:outputLabel id="Description">#{contactController.contact.description}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">Gender:</td>

					<td valign="bottom"><h:outputLabel id="Gender">#{contactController.contact.gender}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">CustomerId:</td>

					<td valign="bottom"><h:outputLabel id="CustomerId">#{contactController.contact.customer.customerId}</h:outputLabel>
					</td>
				</tr>
				<tr>
					<td width="100" valign="top">CompanyName:</td>

					<td valign="bottom"><h:outputLabel id="CompanyName">#{contactController.contact.customer.companyName}</h:outputLabel>
					</td>
				</tr>
				

			</table>
			<h:link id="close" value="Close" outcome="indexContact.xhtml"
				class="btn btn-primary" />

		</h:form>
	</div>

</body>
</html>
