<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="CompanyName" value="CompanyName"  />
                            </td>

                            <td>
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            <td>
                                <h:outputLabel id="OfficePhone" value="OfficePhone"/>
                            </td>

                     </tr>

                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status">

                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerID" />

                            </td>

                            <td>
                                <h:outputText id="outCompanyName" value="#{customerApplication.customers.get(status.index).companyName}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"/>
                                
                            </td>
                             <td>
                                <h:outputText id="outOfficePhone" value="#{customerApplication.customers.get(status.index).officephone}">                                                           
                                </h:outputText>
                            </td>
                            <td>
                              <h:link value="View | " outcome="customerDetail.xhtml">
                              <!-- pass the parameter to next page, the param name is customerIndex, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="editCustomer.xhtml">
                              <!-- pass the parameter to next page, the param name is customerIndex, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>

                                
                                 
                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>

                </table>
              
              
                <div>
                    <h:commandButton id="add" value="Add" action="addCustomer.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerIndex" value="#{status.index + 1}"/>
                        
                    
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerIndex" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                                               
            </h:form>
            <br/>
		        <h:link outcome="indexContact" value="go to Customer Contact" />
        </div>
    </h:body>
</html>