<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
		<title>Homepage</title>
	</h:head> 
	<body> 
		<h2>Please choose your role:</h2>
		<br/>
		<h:outputLink value="faces/admin/index.xhtml">Access Administration</h:outputLink>
		<br/>
		<h:outputLink value="faces/normalUser/index.xhtml">Access NormalUser</h:outputLink>
		<br/>
		<h:link outcome="faces/index" value="Login as a normal user" />
	</body> 
</html>
