<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
 <title> Error 403 </title>
</h:head>
<h:body>
 <h1>Forbidden Error</h1>
 <p>Access denied for user type.</p>
 <p>Please go back to <h:link outcome="/faces/Index/index.xhtml" value="home" /> </p>
</h:body>
 
</html>

