<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title> <!-- #{titleController.pageTitle} --> Index</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   <!-- #{titleController.pageTitle} --> Manager List
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="Id" value="Manager Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="name" value="Manager Name"  />
                            </td>

                            <td>
                                <h:outputLabel id="department" value="Department"/>
                            </td>
                           

                     </tr>

                    <ui:repeat id="Myrepeat" value="#{managerViewController.managers}"  var="manager" varStatus="status">

                           <tr>
                            <td>
                                <h:outputText value="#{managerViewController.managers.get(status.index).managerId}" id="managerID" />

                            </td>

                            <td>
                                <h:outputText id="outName" value="#{managerViewController.managers.get(status.index).managerName}"  />
                            </td>
                            <td>
                                <h:outputText id="outDept" value="#{managerViewController.managers.get(status.index).dept}"/>
                            </td>
                            
                            <td>
                              <h:link value="Detail | " outcome="/faces/RManager/detailManager.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="managerID" value="#{managerViewController.managers.get(status.index).managerId}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="/faces/RManager/editManager.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="managerID" value="#{status.index + 1}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{managerViewController.removeManager(managerViewController.managers.get(status.index).managerId)}" disabled="#{managerViewController.managers.get(status.index).managerId == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                            </td>
                            </tr>
                           
                    </ui:repeat>

                </table>

                <div>
                	
                	<h:commandButton id="add" value="Add" action="/faces/RManager/addManager.xhtml" class="btn btn-primary" />
                	
                    <h:commandButton id="viewAll" value="View All" action="#{managerViewController.searchAll()}" class="btn btn-primary" >
                        <f:param name="managerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                <div>
                    <h:inputText value="#{managerViewController.searchId}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{managerViewController.searchManagerById(managerViewController.searchId)}" class="btn btn-primary" >
                        <f:param name="managerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
        			<h:link id="home" value="Home" outcome="/faces/Index/index.xhtml"
						          class="btn btn-primary" />
				</div>
                
            </h:form>
        </div>
    </h:body>
</html>