<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title> <!-- #{titleController.pageTitle}  --> </title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    <!-- #{titleController.pageTitle}  --> - Edit Contact
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Contact Id</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactEditController.contact.contactId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top"> First Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "firstName" value="#{contactEditController.firstName}" binding="#{firstName}"
                             required="true" requiredMessage="Please enter first name. ">
							</h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top"> Last Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{contactEditController.lastName}" binding="#{lastName}"
                             required="true" requiredMessage="Please enter first name. ">
							</h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">E-Mail: </td>

                        <td valign="bottom">
                            <h:inputText id = "email" value="#{contactEditController.contact.email}"  
                            required="true" requiredMessage="Please enter email. ">
                            </h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>

                        <td valign="bottom">
                            <h:inputText id = "phoneNumber" value="#{contactEditController.contact.phoneNumber}"  
                            required="true" requiredMessage="Please enter industry. ">
                            </h:inputText>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top"> Address: </td>

                        <td valign="bottom">
                            <h:inputText id = "address" value="#{contactEditController.contact.address}" 
                             required="true" requiredMessage="Please enter a address. ">
                            </h:inputText>

                        </td>
                    </tr>
                    <tr>
					<td><h:outputLabel value="Customer:" for="customer" /></td>
							<td><h:selectOneMenu id="customer" value="#{contactEditController.customerId}">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.getAllCustomers()}"
										var="c" itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
							</h:selectOneMenu></td>
					</tr>
                    
                </table>

                <h:commandButton id="save" value="Save" action="#{contactEditController.editContact(contactEditController.contact)}"  class="btn btn-primary" >
                    <f:param name="contactID" value="#{contactEditController.contactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/Contact/viewContact.xhtml"
						          class="btn btn-primary" />

            </h:form>
        </div>
        <div>
        <h:link id="home" value="Home" outcome="/faces/Index/index.xhtml"
						          class="btn btn-primary" /></div>
    </h:body>
</html>